<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so_arm_101">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="mock_controller" default="false" />

    <!-- Import so_arm_101 urdf file -->
    <xacro:include filename="$(find so_arm_description)/urdf/so_arm_101.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="so_arm_101.ros2_control.xacro" />

    <xacro:so_arm_101_ros2_control name="SO-ARM101" 
        initial_positions_file="$(arg initial_positions_file)"
        mock_controller="$(arg mock_controller)"
    />

</robot>
