<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="so_arm_101_ros2_control" 
      params="name initial_positions_file mock_controller:=true">
        
        <xacro:property 
            name="initial_positions" 
            value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"
        />
        
        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- Set up controllers for mock_controller. This won't work on real hardware -->
                <xacro:if value="${mock_controller}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <!-- Set up controllers for real info send. Can work with real robot or virtual controller. -->
                <xacro:unless value="${mock_controller}">
                    <plugin>so_arm_hardware_interface/SOArmHardwareInterface</plugin>
                </xacro:unless>
            </hardware>
            <joint name="shoulder_pan">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_pan']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_lift">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_lift']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="elbow_flex">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_flex']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_flex">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_flex']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_roll">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="gripper">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <gpio name="shoulder_pan">
                <command_interface name="enable"/>
                <state_interface name="torque_enabled"/>
                <state_interface name="voltage"/>
                <state_interface name="load"/>
                <state_interface name="temperature"/>
                <state_interface name="move"/>
            </gpio>
            <gpio name="shoulder_lift">
                <command_interface name="enable"/>
                <state_interface name="torque_enabled"/>
                <state_interface name="voltage"/>
                <state_interface name="load"/>
                <state_interface name="temperature"/>
                <state_interface name="move"/>
            </gpio>
            <gpio name="elbow_flex">
                <command_interface name="enable"/>
                <state_interface name="torque_enabled"/>
                <state_interface name="voltage"/>
                <state_interface name="load"/>
                <state_interface name="temperature"/>
                <state_interface name="move"/>
            </gpio>
            <gpio name="wrist_flex">
                <command_interface name="enable"/>
                <state_interface name="torque_enabled"/>
                <state_interface name="voltage"/>
                <state_interface name="load"/>
                <state_interface name="temperature"/>
                <state_interface name="move"/>
            </gpio>
            <gpio name="wrist_roll">
                <command_interface name="enable"/>
                <state_interface name="torque_enabled"/>
                <state_interface name="voltage"/>
                <state_interface name="load"/>
                <state_interface name="temperature"/>
                <state_interface name="move"/>
            </gpio>
            <gpio name="gripper">
                <command_interface name="enable"/>
                <state_interface name="torque_enabled"/>
                <state_interface name="voltage"/>
                <state_interface name="load"/>
                <state_interface name="temperature"/>
                <state_interface name="move"/>
            </gpio>
        </ros2_control>
    </xacro:macro>
</robot>
